@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  default: true;

  /* Background & Base Colors */
  --color-base-100: #ffffff; /* কার্ড ব্যাকগ্রাউন্ড */
  --color-base-200: #f8fafc; /* পেজের মেইন ব্যাকগ্রাউন্ড (Soft Slate) */
  --color-base-300: #f1f5f9; /* বর্ডার/ডিভাইডার */

  /* Content (Text) Colors */
  --color-base-content: #0f172a; /* মেইন টেক্সট (Slate-900) */
  --color-neutral: #64748b; /* সেকেন্ডারি টেক্সট (Slate-500) */
  --color-neutral-content: #ffffff;

  /* Brand Colors */
  --color-primary: #ca2c48;
  --color-primary-content: #ffffff;

  --color-secondary: #2563eb;
  --color-secondary-content: #ffffff;

  --color-accent: #f59e0b; /* ডেলিভারি স্ট্যাটাস বা হাইলাইটের জন্য এম্বার */
  --color-accent-content: #ffffff;

  /* Functional Colors */
  --color-info: #0ea5e9;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  /* Background & Base Colors */
  --color-base-100: #1e293b;
  --color-base-200: #0f172a;
  --color-base-300: #334155;

  /* Content (Text) Colors */
  --color-base-content: #f8fafc;
  --color-neutral: #94a3b8;
  --color-neutral-content: #ffffff;

  /* Brand Colors */
  --color-primary: #ff5b5b;
  --color-primary-content: #ffffff;

  --color-secondary: #3b82f6;
  --color-secondary-content: #ffffff;

  --color-accent: #fbbf24;
  --color-accent-content: #0f172a;

  /* Functional Colors */
  --color-info: #38bdf8;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="light"] body {
    @apply text-[#0f172a];
  }
}
@layer base {
  [data-theme="dark"] body {
    @apply text-[#f8fafc];
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 200px;
}
